/*
 * Open Sans
================================================================================ */
@font-face {
    font-family: 'opensans-regular';
    src: url('fonts/opensans/opensans-regular-webfont.eot');
    src: url('fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-italic';
    src: url('fonts/opensans/opensans-italic-webfont.eot');
    src: url('fonts/opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-italic-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-italic-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-light';
    src: url('fonts/opensans/opensans-light-webfont.eot');
    src: url('fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-light-italic';
    src: url('fonts/opensans/opensans-lightitalic-webfont.eot');
    src: url('fonts/opensans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-lightitalic-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-semibold';
    src: url('fonts/opensans/opensans-semibold-webfont.eot');
    src: url('fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-semibold-italic';
    src: url('fonts/opensans/opensans-semibolditalic-webfont.eot');
    src: url('fonts/opensans/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-semibolditalic-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-bold';
    src: url('fonts/opensans/opensans-bold-webfont.eot');
    src: url('fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-bold-italic';
    src: url('fonts/opensans/opensans-bolditalic-webfont.eot');
    src: url('fonts/opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-bolditalic-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-extrabold';
    src: url('fonts/opensans/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-extrabold-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-extrabold-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-extrabold-italic';
    src: url('fonts/opensans/opensans-extrabolditalic-webfont.eot');
    src: url('fonts/opensans/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('fonts/opensans/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
 * Noto Serif
================================================================================ */   
@font-face {
    font-family: 'noto-bold';
    src: url('fonts/notoserif/notoserif-bold-webfont.eot');
    src: url('fonts/notoserif/notoserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notoserif/notoserif-bold-webfont.woff') format('woff'),
         url('fonts/notoserif/notoserif-bold-webfont.ttf') format('truetype'),
         url('fonts/notoserif/notoserif-bold-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto-bold-italic';
    src: url('fonts/notoserif/notoserif-bold-webfont.eot');
    src: url('fonts/notoserif/notoserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notoserif/notoserif-bolditalic-webfont.woff') format('woff'),
         url('fonts/notoserif/notoserif-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/notoserif/notoserif-bolditalic-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto-italic';
    src: url('fonts/notoserif/notoserif-italic-webfont.eot');
    src: url('fonts/notoserif/notoserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notoserif/notoserif-italic-webfont.woff') format('woff'),
         url('fonts/notoserif/notoserif-italic-webfont.ttf') format('truetype'),
         url('fonts/notoserif/notoserif-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto-regular';
    src: url('fonts/notoserif/notoserif-regular-webfont.eot');
    src: url('fonts/notoserif/notoserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notoserif/notoserif-regular-webfont.woff') format('woff'),
         url('fonts/notoserif/notoserif-regular-webfont.ttf') format('truetype'),
         url('fonts/notoserif/notoserif-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
 * FIXED for Font-Face Chrome Rendering
================================================================================ */
@media screen and (-webkit-min-device-pixel-ratio:0) {

   @font-face {
   font-family: 'opensans-semibold';
   src: url('fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
   }

   @font-face {
   font-family: 'opensans-bold';
   src: url('fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
   }

}